html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    /*taken from pexels.com*/
    font-family: Coda;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 60px;
    color: #fff;
    opacity: 0.9;
    padding-right: 10px;
}

/* Styles for the deck of cards */

.deck {
    width: 660px;
    min-height: 680px;
    background: rgb(0, 0, 0, 0.7);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    width: 120px;
  	height: 120px;
    background: #aba8e6;
    opacity: 0.9;
    font-size: 0;
    color: #000;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deck .card.open {
    background: #e6baa8;
    animation-name: flipInY;
    transform: rotateY(0);
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .50s;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    background: #0b0670;
    font-size: 33px;
    color: #fff;
    animation-name: rubberBand;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;

}

.deck .card.unmatched {
    background: #e6baa8;
    font-size: 33px;
    animation-name: shake;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;
    
}

.deck .card.disabled {
	pointer-events: none;
}

/* Styles for the Score Panel */

.score-panel {
    text-align: left;
    width: 650px;
    margin-bottom: 15px;
    color: rgb(255, 255, 255, 0.9);
    background: rgb(0, 0, 0, 0.5);
    padding: 5px;
    padding-top: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #000;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    color: #f4f097;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    font-size: 20px;
    padding-right: 5px;
    color: #e6baa8;
}

.time {
	margin: 2em;
}

/* Styles for animations */

@keyframes flipInY {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }
    to {
        transform: perspective(400px);
    }
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, .95, 1);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(3px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-6px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(6px, 0, 0);
  }
}

/*
 * Styles for modal
 */

.overlay {
    position: fixed;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background: rgba(0, 0, 0, 0.7);
  	transition: opacity 500ms;
  	visibility: hidden;
  	opacity: 0;
}

.overlay:target {
  	visibility: visible;
  	opacity: 1;
}

.popup {
  	margin: 50px auto;
  	padding: 20px;
  	background: #aba8e6;
    opacity: 0.9;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
  	width: 45%;
  	position: relative;
  	transition: all 5s ease-in-out;
  	font-family: Coda;
    text-align: center;
}

.popup .close {
  	position: absolute;
  	top: 20px;
  	right: 30px;
  	transition: all 200ms;
  	font-size: 40px;
  	font-weight: bold;
  	text-decoration: none;
    color: #000;
}

.popup .content {
  	max-height: 30%;
  	overflow: auto;
}

.show {
  	visibility: visible !important;
  	opacity: 100 !important;
}

#finalRating li {
  	display: inline-block;
    color: #f4f097;
}

#play-again {
  	padding: 8px;
  	font-size: 20px;
    font-family: Coda;
  	display: block;
  	margin: 0 auto;
  	width: 20%;
  	background-color: #000;
    color: #FFF;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    cursor: pointer;
}

/* Media compatibility */

@media screen and (max-width: 700px) {
  body {
     height: 100%;
  }
	.container {
		font-size: 20px;
	}
	.deck {
		width: 660px;
		height: 680px;
	}
	.deck .card {
		height: 125px;
		width: 125px;
	}
	.popup {
		width: 60%;
	}
 
}


